{% include 'top.html' %}
<div class="container">
<p>The story begins with our unnamed Protagonist, an ordinary girl who woke up to find herself in this strange, magical realm. She had no memory of her name, how she got there or why she was there, but she knew one thing for sure; she wanted to go back home.
<p>Desparately looking for a way out, she has recruited you to help her. The Protagonist explains that she has to find seven mysterious objects, called Artifacts as demanded by a creature named the Wishmaker which will then fulfill her wish. Together, you must travel across rivers, mountains, and the sea, facing challenges and peril to find these artifacts.</p>  
<p>Ready?</p>
</div>
<a href="/chapter/{{question}}" class="link_btn">Start your journey</a>
</body>
</html>
