<!DOCTYPE html>
<html>
<head>
    <title>Codeager</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" type="application/json">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>
<body class="text-center">
    <nav class="flex flex-row justify-evenly items-center">
      <a href="#">Codeager</a>
    </nav>